@model PracticeDatabase.Models.stud

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddRecordForm</title>
</head>
<body>
    <div class="mt-2 border border-2 p-2">
        <!-- Use the correct controller name 'Student' -->
        @using (Html.BeginForm("AddRecord", "Student", FormMethod.Post))
        {
            <div class="display-3">Registration Form</div>

            <div class="form-group">
                @Html.LabelFor(model => model.fname, "First Name", new { @class = "form-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.fname, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.lname, "Last Name", new { @class = "form-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.lname, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.city, "City", new { @class = "form-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.city, new { @class = "form-control" })
                </div>
            </div>

            <button type="submit" class="btn btn-primary p-2 mt-3" name="submit">Register</button>
        }
    </div>
</body>
</html>
